body{
margin: 0;
}

.wrapper{
  margin: auto;
  width: 80%;
}
.header{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logo, .menu{
  display: inline-block;
}
.logo{
    position: relative;
    padding: 40px 0 ;
    padding-left: 44px;
    font: 24px/31px pt_serifbold, arial, helvetica, sans-seris;
    width: 190px;
    height: 35px;
}
.logo__circle{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .logo__circle_color_blue{
    left:8px;
    top: 56%;
    background: #C8DBFB;
    opacity: .7;
  }
  .logo__circle_color_dark-blue{
    background: #0056EC;
    opacity: .7;
  }
.menu{
    display: flex;
    align-items: center;
}
.menu__item{
    position: relative;
    margin-right: 26px;
    font: 18px/21px robotoregular, arial, helvetica, sans-seris;
    color: #000;
    text-decoration: none;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__item::after{
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s, width: 0.5s;
  
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.main{
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
}
.main__title{
  margin: 0 0 40px 0;
  font:  50px/65px pt_serifbold, arial, helvetica, sans-seris;
}
.main__subtitle{
  margin: 0 0 41px 0;
  font: 18px/21px robotomedium, arial, helvetica, sans-seris;
}
.main__button{
  display: inline-blok;
  font: 14px/16px robotomedium, arial, helvetica, sans-seris;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.main__title-text_highlight{
  background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%)

}

.points{
  width: 32px;
  height: 8px;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 38px;
  background: url(img/points.svg);
}

